* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

/* MAIN */
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    height: 85vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: 400px;
    width: 400px;
    gap: 5px;
    border: 2px solid black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;
}

footer p {

}